<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <classes>
            <class name="io.github.astrapi69.file.zip.ZipperTest"/>
            <class name="io.github.astrapi69.file.csv.CsvFileExtensionsTest"/>
            <class name="io.github.astrapi69.file.search.PathFinderTest"/>
            <class name="io.github.astrapi69.file.FileTestCase"/>
            <class name="io.github.astrapi69.file.zip.ZipTestCase"/>
            <class name="io.github.astrapi69.file.csv.CsvToSqlExtensionsTest"/>
            <class name="io.github.astrapi69.file.compare.SimpleCompareFileExtensionsTest"/>
            <class name="io.github.astrapi69.file.zip.ZipExtensionsTest"/>
            <class name="io.github.astrapi69.file.FileExtensionsTest"/>
            <class name="io.github.astrapi69.file.compare.CompareFileExtensionsTest"/>
            <class name="io.github.astrapi69.file.zip.UnzipperTest"/>
            <class name="io.github.astrapi69.file.search.FileSearchExtensionsTest"/>
            <class name="io.github.astrapi69.file.sort.SortFileExtensionsTest"/>
            <class name="io.github.astrapi69.file.copy.CopyFileExtensionsTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
